
@use "@styles/variables" as v;
@import "@styles/function";

.bg__container{
	background: v.$bg-light;
}
.dark .bg__container {
	background: v.$bg-gradient-dark;
}
.hero {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	max-width: 1440px;
	gap: size(50);
	@media screen and (max-width: 768px) {
		flex-direction: column-reverse;
		width: 90%;
		gap: 1rem;
		margin-top: 7rem;
	}
}
.hero__text__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	@media screen and (max-width: 1015px) {
		min-width: 19rem;
	}
	h1 {
		margin-bottom: size(1);
		color: black;
		font-size: size(64);
		font-weight: 600;
		@media screen and (max-width: 1015px) {
			font-size: size(56);
		}
		@media screen and (max-width: 768px) {
			font-size: size(38);
		}
		span {
			color:v.$medium-blue;
		}
		.text-flicker-in-glow {
			-webkit-animation: text-flicker-in-glow 2s linear both;
			animation: text-flicker-in-glow 2s linear both;
		}
	}
	.hero__span {
		align-self:center;
		line-height: 1.5rem ;
		font-size: 1rem;
		margin-bottom: 1rem;
	}
	.hero__frase {
		color: v.$text-color-important;
		font-weight: 600;
		font-family: "Preahvihear", sans-serif;
		@media screen and (min-width:768px) {
			font-size: 2rem;
		}
	}
	.show__text {
		justify-content: center;
		font-weight: 400;
		display: flex;
		-webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.3s
			both;
		animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s both;
	}
}

.dark {
	.hero {
		h1 {
			color: v.$card-bg;
			span {
				color:v.$light-blue;
				&:hover{
				color: white;
			}
			}
		}
	}
	.hero__frase{
		color: v.$light-blue;
	}
}
.picture {
	-webkit-animation: text-focus-in 1.8s both;
	animation: text-focus-in 1.8s both;
}




@media screen and (max-width: 768px) {
	.hero {
		flex-direction: column-reverse;
		text-align: center;
		justify-content: center;
		gap: 2rem;
	}
}
