.hero {
	width: 100%;
	min-height: 100dvh;
	@include centerFlex();
	flex-wrap: wrap;
	align-content: center;
}

.hero__container {
	@include centerFlex(space-around);
    width: 100%;
    max-width: 1110px;
    gap: rem(2px);
    flex-wrap: wrap;
	@include respond-to("medium"){
		flex-direction: column-reverse;
		width: 90%;
		gap: 1rem;
	}
}

.hero__text__container {
	@include centerFlex();
	flex-direction: column;
	height: auto;
	@include font-family("montserrat");
	@include respond-to("small") {
		min-width: rem(304px);
	}
	h1 {
		margin-bottom: rem(10px);
		color: black;

		font-size: rem(64px);
		font-weight: 600;
		@include respond-to("special") {
			font-size: rem(56px);
		}
		@include respond-to("medium") {
			font-size: rem(38px);
		}
		span {
			color: v.$medium-blue;
		}
		.text-flicker-in-glow {
			-webkit-animation: text-flicker-in-glow 2s linear both;
			animation: text-flicker-in-glow 2s linear both;
		}
	}
	.hero__span {
		align-self: center;
		line-height: 1.5rem;
		font-size: .9rem;
		margin-bottom: .5rem;
	}
	.hero__frase {
		@include font-family("preahvihear");
		color: v.$text-color-important;
		font-weight: 600;
		@include respond-to("medium"){
			font-size: rem(19.2px);
		}
	}
	.show__text {
		@include font-family("preahvihear");
		display: flex;
		justify-content: center;
		font-weight: 400;
		-webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
			1.3s both;
		animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 3s both;
	}
}

.dark {
	.hero {
		h1 {
			color: v.$card-bg;
			span {
				color: v.$light-blue;
				&:hover {
					color: white;
				}
			}
		}
	}
	.hero__frase {
		color: v.$light-blue;
	}
	.show__text{
		color: v.$mainColor;
	}
}
.picture {
	-webkit-animation: text-focus-in 1.8s both;
	animation: text-focus-in 1.8s both;
}

@include respond-to("medium") {
	.hero {
		flex-direction: column-reverse;
		text-align: center;
		justify-content: center;
		gap: 2rem;
	}
}
