
@mixin reset-pm {
	padding: 0;
	margin: 0;
}

@mixin btn($backgronud-color, $color, $border) {
	background: $backgronud-color;
	color: $color;
	border-radius: 16px;
	padding: size(10) size(20);
	display: flex;
	align-items: center;
	justify-content: space-around;

	@if ($border == "true") {
		border: 1px solid v.$text-color-important;
	}
}

@mixin centerFlex($justify: center) {
	display: flex;
	align-items: center;
	justify-content: $justify;
}

@mixin typography($font-size, $line-height, $font-weight: normal) {
	font-size: $font-size;
	line-height: $line-height;
	font-weight: $font-weight;
}
@mixin background-gradient($start-color, $end-color) {
	background: linear-gradient(to right, $start-color, $end-color);
}

/* responsive breakpoints */
@mixin respond-to($breakpoint) {
	@if $breakpoint == "small" {
		@media (max-width: 320px) {
			@content;
		}
	} @else if $breakpoint == "special" {
		@media (max-width: 1015px) {
			@content;
		}
	} @else if $breakpoint == "medium" {
		@media (max-width: 768px) {
			@content;
		}
	} @else if $breakpoint == "large" {
		@media (max-width: 1024px) {
			@content;
		}
	}
}

/* Switch  between font family */
@mixin font-family($type) {
	@if $type == "montserrat" {
		font-family: "Montserrat Variable", sans-serif;
	} @else if $type == "preahvihear" {
		font-family: "Preahvihear", sans-serif;
	}
}

@mixin transition-all{
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	transition-duration: 500ms;
}