
/*Gradiente Ligth mode   */
$color-background-body-ligth: #d4e6e9;
$color-background-before-ligth: #b0d3f187;
$color-gradient1-start-ligth: rgba(26, 150, 244, 0.066);
$color-gradient1-end-ligth: rgba(92, 201, 241, 0.106);
$color-gradient2-start-ligth: rgba(26, 171, 244, 0.199);
$color-gradient2-middle-ligth: rgba(0, 187, 255, 0.13);
$color-gradient2-end-ligth: rgba(221, 240, 252, 0.358);
$color-gradient3-start-ligth: rgba(1, 170, 255, 0.13);
$color-gradient3-middle-ligth: rgba(19, 146, 220, 0.033);
$color-gradient3-end-ligth: rgba(54, 155, 199, 0);
$color-gradient4-start-ligth: rgba(39, 155, 232, 0.087);
$color-gradient4-end-ligth: rgba(21, 86, 161, 0.05);
$color-background-gradient5-ligth: #87a9dc57;
$color-gradient6-start-ligth: rgba(40, 123, 218, 0.044);
$color-background-gradient6-ligth: #e7ecf7;
$color-background-after-ligth: #c4d0e6dc;

/*Gradiente dark mode   */
$color-background-body: #06070c;
$color-background-before: #090a12;
$color-gradient1-start: rgba(33, 26, 244, 0.3);
$color-gradient1-end: rgba(0, 12, 124, 0);
$color-gradient2-start: rgba(26, 66, 244, 0.5);
$color-gradient2-middle: rgba(0, 14, 124, 0.4);
$color-gradient2-end: rgba(0, 0, 124, 0);
$color-gradient3-start: rgba(26, 110, 244, 0.2);
$color-gradient3-middle: rgba(1, 5, 106, 0.1);
$color-gradient3-end: rgba(0, 14, 124, 0);
$color-gradient4-start: rgba(0, 17, 124, 0.075);
$color-gradient4-end: rgba(0, 12, 124, 0.05);
$color-background-gradient5: #0d1017;
$color-gradient6-start: rgba(40, 61, 218, 0.5);
$color-background-gradient6: #0d1017;
$color-background-after: #13131c;

// Variables Sass existentes

$mainColor: #e5e5e5;
$text-color-important: #171c36;
$text-color: #01121b;
$text-secundary: #000a0e;
$card-bg: #b8ebff;
$button-bg: #085172;
$light-blue: #06b5f1;
$medium-blue: #4f07a7;
$bg-light: linear-gradient(45deg, #0074a7, #0091ce);
$text-color-dark: #effaff;
$bg-gradient-dark: radial-gradient(
	circle,
	rgb(9, 1, 44) 0%,
	rgb(12, 3, 40) 32%,
	rgb(2, 0, 14) 81%,
	rgba(0, 3, 8, 1) 100%
);

$unit: 0.0625rem;
