---
import PostSection from "../components/PostSection.astro";
import Layout from "./../layouts/Layout.astro";
import HeaderTop from "../components/HeaderTop";
import Footer from "../components/Footer.astro";
import Hero from "@organisms/Hero/Hero.astro";
import Skills from "../components/Skills.astro";
import { PortfolioSection } from "../components/PortfolioSection";

---

<Layout title="Sofidev">
		<HeaderTop client:load />
		<div class="backgroud">
			<main>
				<Hero />
				<Skills />
				<PortfolioSection />
				<PostSection />
			</main>
			<Footer />
		</div>
</Layout>
