---
import Layout from "./../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HeaderTop from "../components/HeaderTop";
import Footer from "../components/Footer.vue";
import { getCollection } from "astro:content";
import Hero from "../components/Hero.astro";


const post = (await getCollection("tips")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="Sofidev">
	<HeaderTop client:load />
  <Hero/>
	<main>

		<ul role="list" class="link-card-grid">
			{
				post
					.slice(0, 2)
					.map((post) => (
						<Card
							image={post.data.image}
							title={post.data.title}
							resume={post.data.resume}
							slug={post.slug}
						/>
					))
			}
		</ul>
	</main>
	<Footer />
</Layout>

<style>

  main {
		margin: auto;

		padding: 2rem 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}



  @media screen and (max-width: 768px) {
  .astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
}
</style>
