---
import PostSection from "../components/PostSection.astro";
import Layout from "./../layouts/Layout.astro";
import HeaderTop from "../components/HeaderTop";
import Footer from "../components/Footer.vue";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import { PortfolioSection } from "../components/PortfolioSection";
---

<Layout title="Sofidev">
	<div class="bg__container">

		<HeaderTop client:load />
		<Hero />
	</div>
	<main>
		<Skills />
		<PortfolioSection />
		<PostSection />
	</main>
	<Footer />
</Layout>

<style>
	:global(.dark) .bg__container{
		background: var(--bg-gradient-dark);
	}
</style>