---
import getUserInfo from "@controllers/getUserInfo.js";
---

<div class="profile">
	<div class="profile_container">
		<button class="profile__item profile__item-1">
			<span class="profile__span">
				<iconify-icon icon="logos:react" width="2.5rem" height="2.5rem"
				></iconify-icon>
			</span>
		</button>

		<button class="profile__item profile__item-2">
			<span class="profile__span">
				<iconify-icon icon="devicon:tailwindcss" width="2.5rem" height="2.5rem"
				></iconify-icon>
			</span>
		</button>

		<button class="profile__item profile__item-3">
			<span class="profile__span">
				<iconify-icon icon="logos:figma" width="2.5rem" height="2.5rem"
				></iconify-icon>
			</span>
		</button>

		<button class="profile__item profile__item-4">
			<span class="profile__span">
				<iconify-icon
					icon="ic:baseline-wordpress"
					width="3rem"
					height="3rem"
					style="color: #005fb8"></iconify-icon>
			</span>
		</button>

		<button class="profile__item profile__item-5">
			<span class="profile__span">
				<iconify-icon icon="logos:nodejs-icon" width="2.5rem" height="2.5rem"
				></iconify-icon>
			</span>
		</button>

		<button class="profile__item profile__item-6">
			<span class="profile__span">
				<iconify-icon icon="logos:mysql" width="2.5rem" height="2.5rem"
				></iconify-icon>
			</span>
		</button>

		<button class="profile__item profile__item-7">
			<span class="profile__span">
				<iconify-icon icon="devicon:nextjs" width="2.5rem" height="2.5rem"
				></iconify-icon>
			</span>
		</button>
		<!-- Profile Pic -->
		<button class="profile__btn">
			<div
				class="w-fullh-full flex items-center justify-center rounded-full active:scale-95 hover:scale-95 object-cover transition-all duration-500"
			>
				<img
					class="profile__img"
					src={getUserInfo.profilePicture}
					alt=`${getUserInfo.name} ${getUserInfo.lastName} profile Picture`
				/>
			</div>
		</button>
	</div>
</div>
<!--
<iconify-icon icon="ic:baseline-wordpress" width="3rem" height="3rem" style="color: #005fb8"></iconify-icon>
-->
