---
interface Props {
	image: string;
	title: string;
	resume: string;
}

const { image, title, resume } = Astro.props;
---

<article class="group">
	<img
		alt={title}
		src={image}
		class="h-56 w-full rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
	/>

	<div class="p-4">
		<a href="#">
			<h3 class="text-lg font-medium text-gray-900">
				{title}
			</h3>
		</a>

		<p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-500">
			{resume}
		</p>
	</div>
</article>
